@page
@model BreedingLogg.Pages.PortadaModel
@{
}

<div class="backgroundPortada">
    <div class="container">

        <div class="row align-items-start">

            <div class="col">
                &nbsp;
                <h1 class="text-white text-center">UNIVERSIDAD TECNOLOGICA METROPOLITANA</h1>
                &nbsp;
            </div>

        </div>

        <div class="row align-items-center">

            <div class="col">
                <h2 class="text-center text-white">Oscar Josue Uh Perez</h2>
            </div>

        </div>

        <div class="row align-items-center">

            <div class="col">
                <h3 class="text-center text-white">Aplicaciones Web</h3>
            </div>

        </div>

        <div class="row align-items-center">

            <div class="col">
                <h3 class="text-center text-white">3°B</h3>
                <h3 class="text-center text-white">Parcial 3</h3>
            </div>

        </div>

        <div class="row align-items-center">

            <div class="col">
                <h2 class="text-white text-center">Proyecto - Breeding Log</h2>
            </div>

        </div>

        <div class="container text-center">
            <div class="row align-items-center">

                <div class="col">
                    <div class="container text-center">
                        <img src="https://www.utmetropolitana.edu.mx/Publicaciones/recursos/BotonImagen/logo%20UTM%20blanco-01%20copia.png" width="500" style="opacity:80%;" />
                    </div>
                </div>

            </div>
        </div>

        <div class="row align-items-end">

            <div class="col">
                <div class="item card text-center bg-dark text-white">

                    <div class="card-header text-muted">
                        Desarrollo de Software Multiplataforma
                    </div>

                    <div class="card-body bg-dark text-white">
                        <h6 class="card-title font-weight-bold">INTEGRANTES</h6>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-dark">Carlos M Mezquita Alvarado / Graphic designer</li>
                            <li class="list-group-item list-group-item-dark">Fabian F Aguilar Rivero / Assistance and support</li>
                            <li class="list-group-item list-group-item-dark">Javier A Sulub Flores / Develoteca Lover</li>
                        </ul>

                    </div>

                    <div class="card-footer text-muted">
                        Luchando por su calificación
                    </div>

                </div>
            </div>

        </div>

        <div>
            &nbsp;
            &nbsp;
        </div>

        <div class="container text-center">
            <div class="row align-items-end">
                <div class="col">
                    <a href="Presentación">EMPEZAR</a>
                </div>
            </div>
        </div>

    </div>
</div>