@page
@model BreedingLogg.Pages.QuienesSomosModel
@{
}

<div class="text-center">
    <h2 class="display-4">¿Quienes Somos?</h2>
</div>

<div>
    &nbsp;
    &nbsp;
</div>

<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Carlos Mezquita</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Fabian Rivero</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Javier Sulub</a>
        </div>
    </div>

    <div class="col-8">

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                <div class="card mb-3" style="width:500px;">
                    <img class="card-img-top" src="https://scontent.fcjs3-1.fna.fbcdn.net/v/t1.6435-9/31229303_2046804025582395_3490063929076350976_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=174925&_nc_eui2=AeFfKzLSXzb3j9IwffI0nvOn1m2cWNdcZtrWbZxY11xm2teiDmrUH3zmwhvew5h9nkOlKpvS32K46wS3Z-FS6Q-u&_nc_ohc=4NPC0q1ZJLcAX_eqN82&_nc_ht=scontent.fcjs3-1.fna&oh=acfe929a073bf77a28a5dd3e59cb3202&oe=6124F089" alt="Card image cap">

                    <div class="card-body">

                        <h5 class="card-title text-muted">Carlos M Mezquita Alvarado</h5>
                        <h6 class="card-title">Estudiante / Desarrollo de Software Multiplataforma</h6>
                        <div class="dropdown-divider"></div>

                        <div style="text-align:justify">
                            <p class="card-text">
                                <i>
                                    Soy Carlos Mezquita, Nací el 04/Noviembre/1994 (26 años) Estudio en la Universidad Tecnológica Metropolitana UTM
                                    la carrera de DSM Desarrollo de Software Multiplataforma, me encanta la computación, desarrollo de videojuegos,
                                    Diseño grafico y todo lo relacionado. Mi plan a futuro es recibirme en la Ingenieria e involucrarme a fondo acerca
                                    del desarrollo de videojuegos.
                                </i>
                            </p>
                        </div>

                    </div>

                    <div class="card-footer text-muted">
                        <small class="font-weight-bold">De:</small>
                        <h6>Ciudad de México</h6>
                        <div class="dropdown-divider"></div>
                        <small class="font-weight-bold">Vive en:</small>
                        <h6>Mérida, Yucatán</h6>

                    </div>

                </div>
            </div>

            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <div class="card mb-3" style="width:500px;">
                    <img class="card-img-top" src="/img/Papucho.jpeg" alt="Card image cap">

                    <div class="card-body">

                        <h5 class="card-title text-muted">Fabian F Aguilar Rivero</h5>
                        <h6 class="card-title">Estudiante / Desarrollo de Software Multiplataforma</h6>
                        <div class="dropdown-divider"></div>

                        <div style="text-align:justify">
                            <p class="card-text">
                                <i>
                                    Me llamo Fabian Francisco Aguilar Rivero, nací en Mérida, Yucatán el 15 de septiembre del 2002,
                                    actualmente vivo en el estado de yucatán, tengo 18 años, me encuentro estudiando en la Universidad
                                    Tecnológica Metropolitana en Desarrollo de Software Multiplataforma (DSM).
                                </i>
                            </p>
                        </div>

                    </div>

                    <div class="card-footer text-muted">
                        <small class="font-weight-bold">De:</small>
                        <h6>Mérida, Yucatán</h6>
                        <div class="dropdown-divider"></div>
                        <small class="font-weight-bold">Vive en:</small>
                        <h6>Mérida, Yucatán</h6>

                    </div>

                </div>
            </div>

            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <div class="card mb-3" style="width:500px;">
                    <img class="card-img-top" src="/img/Javo.jpeg" alt="Card image cap">

                    <div class="card-body">

                        <h5 class="card-title text-muted">Javier A Sulub Flores</h5>
                        <h6 class="card-title">Estudiante / Desarrollo de Software Multiplataforma</h6>
                        <div class="dropdown-divider"></div>

                        <div style="text-align:justify">
                            <p class="card-text">
                                <i>
                                    Javier Alexander Sulub Flores nació el 17 de mayo de 2002 en el Hospital T1, Mérida Yucatán, aproximadamente a las 8:30 de la mañana; sus padres son Rodrigo Ventura Sulub Ramos y Rosalinda Santos Flores Osgaya
                                    En la prepa aprendió muchas cosas nuevas, ahí tomo muchas decisiones que cambiaron su vida, en esto influyó la gente con la que se juntaba y sus compañeros, no influyó hacia algo malo, pero si para cambiar. Ahora se encuentra cursando la universidad y afortunadamente no a reprobado ni una sola materia a lo largo de su vida, no es de los mejores, pero se mantiene bien y estable.
                                </i>
                            </p>
                        </div>

                    </div>

                    <div class="card-footer text-muted">
                        <small class="font-weight-bold">De:</small>
                        <h6>Mérida, Yucatán</h6>
                        <div class="dropdown-divider"></div>
                        <small class="font-weight-bold">Vive en:</small>
                        <h6>Mérida, Yucatán</h6>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>
