body {
    background-color: #D5D8DC;
}

.containerHome {
    display: grid;
    /*grid-template-columns: 0.3fr 2.4fr 0.3fr;*/
    grid-template-rows: 0fr 0.35fr 0.5fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
        ". Grid1 ."
        ". Grid2 ."
        ". Cards .";
}

.Grid1 {
    grid-area: Grid1;
    padding-bottom: calc(10rem - 4.5rem);
    background-image: linear-gradient(to bottom, rgb(39 39 39 / 80%) 0%, rgb(101 98 96 / 80%) 100%), url(../img/Home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 700px;
}

.Grid2 {
    grid-area: Grid2;
}

.Cards {
    grid-area: Cards;
}

.Grid4 {
    grid-area: Grid4;
}

/*EFECTO TARJETAS*/
.item {
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    transition: all 300ms;
    position: relative;
}



    .item:hover:after {
        opacity: 1;
        transform: scale(1);
    }

    .item:hover {
        transform: scale(1.05);
    }

.item-text {
    padding: 1em;
}

.item-img {
    max-width: 100%;
    display: block;
}
/*EFECTO TARJETAS*/

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}

hr.divider-light {
    background-color: #fff;
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    opacity: 1;
}

.colorBtn {
    background: #f4623a;
    border-color: #f4623a;
    border-radius: 1rem
}

.CentrarBtn{
    text-align:center;
}
