body {
}

.containerLogin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.2fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
}

.background {
    grid-area: 1 / 1 / 4 / 4;
    /*padding-top: 10rem;*/
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/BG-1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.FormLogin {
    grid-area: 2 / 2 / 3 / 3;
}

.AlinearBotones {
    text-align: center;
}
